

DATABASE_URL=DATABASE_CONNECTION_STRING
PORT=APPLICATION_LISTENING_PORT

COOKIE_PARSER_SECRET=COOKIE_PARSER_SECRET_HERE

JWT_SECRET=JWT_SECRET_HERE
JWT_EXPIRES_IN=JWT_TOKEN_EXPIRES_TIME_IN_SECONDS

ACCESS_TOKEN_COOKIE_MAX_AGE=ACCESS_TOKEN_COOKIE_MAX_AGE_IN_SECONDS